/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    @include but;
  }
  
  .default {
    background-color:$btn-default;
    transition: .5s ease-in;
    &:hover{
      background-color: $btn-default-hover;
    }
  }
  
  .error {
    background-color:$btn-error;
    transition: .5s ease-in;
    &:hover{
      background-color: $btn-error-hover;
    }
  }
  
  .info {
    background-color:$btn-info;
    transition: .5s ease-in;
    &:hover{
      background-color: $btn-info-hover;
    }
  }
  
  .success {
    background-color: $btn-success;
    transition: .5s ease-in;
    &:hover{
      background-color: $btn-success-hover;
    }
  }
  
  .warning {
    background-color:$btn-warning;
    transition: .5s ease-in;
    &:hover{
      background-color: $btn-warning-hover;
    }
  }