/* ============================================= */
/*              Base styles                      */
/* ============================================= */

* {
    font-family: $main-font;
    color:$color-text;
    box-sizing: border-box;
  }
  
  p {
    line-height: 1.45em;
  }
  
  a {
    text-decoration: none;
  }
  
  
  /* ============================================= */
  /*              Typography                       */
  /* ============================================= */
  
  .headline-primary {
    color: $color-primary;
    margin-left: 10px;
  }
  
  .headline-secondary {
    font-weight: $font-thin;
    color: $color-text;
  }
  
  .link {
    color: $color-secondary;
    font-weight: $font-bold;
  }
  
  .blockquote {
    font-size: $font-size;
    font-weight: $font-thin;
    font-style: $font-style;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 8px solid $color-primary;
    border-radius: 5px;
  }